<div class="center hero-unit">
	<h1>Welcome to the DrJid App</h1>
	<h2>@DrJid</h2>
	<p>This is the home page for the rails tutorial written by
		<a href="http://maijid.com"> Me </a>
	</p>

	<%= link_to "Sign up now!", signup_path,  class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>









