<!-- Print out error messages if there are any.
 This partial was saved in the /shared dir  
so that it can used sharedly.. you know..  -->

<% if object.errors.any? %>

	<div id="error_explanation">

<!-- Alert and alert error are part of bootstrap. Gives us the nice red error there.  -->
		<div class="alert alert-error">
			The form contains <%= pluralize(object.errors.count, "error") %>
		</div>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>

<% end %>